* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  margin-inline: auto;
}

h1 {
  font-size: 2.5em;
  margin: 20px auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: start;
}

input {
  margin: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  cursor: pointer;
}

.gameMessage {
  margin-top: 20px;
  font-size: 1.2em;
}

.gameResult {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
}

ul {
  padding-left: 25%;
}

li {
  text-align: left;
}

#players {
  padding: 0 2em;
  grid-row: 2;
}

#playersList>li {
  list-style: none;
  text-align: center;
}

.sentFrom {
  font-weight: 600;
}

#game {
  grid-row: span 3;
}

#reset {
  margin-inline: auto;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}